* {
    box-sizing: border-box;

}
p{
    color:red
}
/**
esto es un comentario en css
*/
h2{
    border-top: 2px solid black;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(50, 61, 211);
}


.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}
