/* Estilos generales */

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
    overflow: auto;
    overflow-y: scroll;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos de la barra de navegación */
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #777;
  }
  
  /* Estilos del header */
  
  header {
    background: linear-gradient(to bottom, #e1aaaa 0%,rgba(255,255,255,0) 100%);
    padding: 30px 0;
    text-align: right;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  header img {
    height: 60px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
  }

  header .header-content {
    margin-left: 20px; /* Agregamos un margen a la izquierda para separar el contenido de la imagen */
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  header h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  header h2 span {
    color: #777;
  }
  
  header p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /* Estilos de la columna izquierda */
  
  .left-column {
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-bottom: 40px;
  }
  
  .left-column h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .left-column p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  /* Estilos del cuerpo */
  
  .main {
    float: left;
    width: 75%;
  }
  
  .main h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .main h2 span {
    color: #777;
  }
  
  .main h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  /* Estilos del footer */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: #f30a0a;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #2d2afc;
  }
  
  p {
    margin-bottom: 10px;
  }