* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	overflow-y: scroll;
}

header {
	background: linear-gradient(to right, #b8b8b8, #ebebeb);
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 90px;
	border-bottom: 2px solid #ddd;
	left: 0;
	height: 80px;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

 /* .header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	float: right;
  }
  */
  header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
		justify-content: flex-end;
	
  }
  
  header li {
	margin: 0 20px;
	font-size: 18px;
  }


  header h1 {
	font-size: 2rem;
	color: #1D1D1F;
	margin: 0;
  }
  
  header nav {
	margin-left: 20px;
	right: 0;
  }
  
  header nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
  }
  
  header nav li {
	margin-left: 20px;
  }
  
  header nav a {
	color: #1D1D1F;
	text-decoration: none;
	font-size: 1.2rem;
	text-align: right;
  }
  .container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
  }
  
  /* Estilos para hacer el sitio responsive */
  @media (max-width: 768px) {
	header {
	  flex-direction: column;
	}
  
	header h1 {
	  font-size: 1.5rem;
	  margin-bottom: 10px;
	}
  
	header nav {
	  margin: 10px 0 0 0;
	  text-align: right;
	}
  
	header nav ul {
	  flex-direction: column;
	  text-align: right;
	}
  
	header nav li {
	  margin: 10px 0 0 0;
	}
  }
 
  .header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
  }

  .header-list {
	display: flex;
	justify-content: flex-end;
  }


main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	padding: 20px;
}

nav {
	background-color: #f7f7f7;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	right: 0;
	float: right;
	margin-right: 20px;
	margin-top: 80px;
}


nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav li {
	margin-left: 20px;
  }
  
  nav a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
  }
  
  nav a:hover {
	color: #666666;
  }
    


.photo-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.photo-container {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 5px;
}

.photo-container img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}
.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menu-icon {
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul {
	display: flex;
	list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
	margin: 0 15px;
	position: relative;
	display: inline-block;
    margin-left: 20px;
}

.menu ul li a {
	font-size: 1rem;
	color: #333;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
	transform: scale(1.1);
}

.menu ul li a::before {
	content: "";
	position: absolute;
	bottom: 0
}

.nav-link {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #2cb4e6;
	border-bottom: 2px solid #333;
}

.sidebar {
	background-color: #f2f2f2;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 80px;
	left: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.sidebar-header h3 {
	font-size: 1.5rem;
	color: #333;
	font-weight: 500;
	margin-top: 1em;
}

.sidebar h2{
	margin-top: 0;
}

.sidebar p {
	margin-bottom: 20px;
	margin-top: 10px;
	border-bottom: 2px solid #CCC;
}

.sidebar-menu ul {
	list-style: none;
	padding: 20px;
}

.sidebar-menu ul li {
	margin-bottom: 15px;
}

.sidebar-menu ul li a {
	font-size: 1rem;
	color: #333;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.sidebar-menu ul li a:hover {
	transform: scale(1.1);
}

.main-content {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.col-md-12 {
	display: inline-block;
	text-align: left;
	margin-top: 30px;
}

h2 {
	 font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-top: 40px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

.contact-info {
	display: flex;
	align-items: center;
  }

.social-icons a,
.contact-info a {
	color: #666;
	margin-right: 20px;
	font-size: 1.5em;
}

.social-icons a:hover,
.contact-info a:hover {
	color: #007bff;
}

@media (max-width: 768px) {

.social-icons {
margin-bottom: 10px;
	}
}


.footer {
	background-color: #f2f2f2;
	border-bottom: 1px solid #000;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #03070b;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	text-align: right;
  }
  
  .footer .container {
	max-width: 960px;
	margin: 0 auto;
  }
  
  .footer p {
	margin: 0;
	padding: 20px;
  }
  footer i {
	display: inline-block;
  }

  /* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
	/* Aquí van los estilos para pantallas pequeñas */
	header {
	  width: 100%;
	  padding: 20px;
	}
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
	/* Aquí van los estilos para pantallas medianas */
	header {
	  width: 100%;
	  padding: 40px;
	}
  }
  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 1024px) {
	/* Aquí van los estilos para pantallas grandes */
	header {
	  width: 100%;
	  padding: 60px;
	}
  }
  